Ben Warzel

Looking at the data available from consumer surveys 2006-2020

In [3]:
import pandas as pd

In [22]:
# Load both sheets
consumer1_df = pd.read_excel('../data/original/cu-all-multi-year-2006-2012.xlsx', sheet_name='Table')
consumer2_df = pd.read_excel('../data/original/cu-all-multi-year-2013-2020.xlsx', sheet_name='Table')

# View basic information
print(consumer1_df.shape)  # Check number of rows and columns
print(consumer2_df.shape)

# Preview the data
print(consumer1_df.head())
print(consumer2_df.head())

(230, 8)
(235, 9)
  Average annual expenditures and characteristics of all consumer units, Consumer Expenditure Survey, 2006-2012  \
0                                                NaN
1                                               Item
2            Number of consumer units (in thousands)
3                                                NaN
4                     Consumer unit characteristics:

  Unnamed: 1 Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5 Unnamed: 6  \
0        NaN        NaN         NaN         NaN         NaN        NaN
1       2006       2007      2008.0      2009.0      2010.0       2011
2     118843     120171    120770.0    120847.0    121107.0     122287
3        NaN        NaN         NaN         NaN         NaN        NaN
4        NaN        NaN         NaN         NaN         NaN        NaN

  Unnamed: 7
0        NaN
1       2012
2     124416
3        NaN
4        NaN
  Average annual expenditures and characteristics of all consumer units, Consumer Expenditure Surveys, 2013-2020  \
0                                                NaN
1                                               Item
2        Number of consumer units (in thousands) a/
3                                                NaN
4                     Consumer unit characteristics:

  Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1       2013       2014       2015       2016       2017       2018
2     125670     127006     128437     129549     130001     131439
3        NaN        NaN        NaN        NaN        NaN        NaN
4        NaN        NaN        NaN        NaN        NaN        NaN

  Unnamed: 7 Unnamed: 8
0        NaN        NaN
1       2019       2020
2     132242     131234
3        NaN        NaN
4        NaN        NaN

/opt/anaconda3/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [26]:
money_df = pd.read_csv('../data/original/consumerspending-justmoney.csv')

In [32]:
money_df.info

<bound method DataFrame.info of                                        Item     2006     2007     2008  \
0               Average Annual Expenditure   $48,400  $49,638  $50,486
1                                      Food    6,111    6,133    6,443
2                              Food at home    3,417    3,465    3,744
3               Cereals and bakery products      446      460      507
4               Cereals and cereal products      143      143      170
..                                      ...      ...      ...      ...
166                     Other entertainment       52       68       59
167  Personal care products and services d/       16       18       12
168                              Reading d/        1        1        1
169                               Education      210      283      324
170                      All other gifts d/       94       93       99

        2009     2010     2011     2012
0    $49,067  $48,109  $49,705  $51,442
1      6,372    6,129    6,458    6,599
2      3,753    3,624    3,838    3,921
3        506      502      531      538
4        173      165      175      182
..       ...      ...      ...      ...
166       57       58       67       54
167       12       13       15       16
168        1        1        2        2
169      229      221      216      260
170       76       80       91       71

[171 rows x 8 columns]>